<h1>Home#index</h1>
<%# if user_sign_in?%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
<%# end %>

<%#= link_to "Log in", new_session_path(resource_name) %>
  <%#= link_to "My page", user_path(@user.id),class:"nav-link disabled"  %>
<p>Find me in app/views/home/index.html.erb</p>
<% @photos.each do |photo| %>
<tr>
  <td><img src="<%= photo.image_url %>" class = "card"></td>
  <td><%= photo.user_id %></td>
  <td><%= photo.caption %></td>
  <td> <%= link_to like_photo_path(photo), method: :put do %>
    Upvote
    <%= photo.get_upvotes.size %>
    <%= link_to dislike_photo_path(photo), method: :put do %>
      Downvote
      <%= photo.get_downvotes.size %>
    <% end %>
    <% end %>
    <% end %>
