<h1>Editing Photo</h1>
<%#= render 'form', photo: @photo %>

<% provide(:title, "Edit photo") %>
<h1>Update your photo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@photo) do |form| %>
    <%#= render 'shared/error_messages' %>

    <%= form.hidden_field :user_id, id: :photo_user_id%>
    <div class="field">
      <%= form.label :image %>
      <%= form.hidden_field :image, value: @photo.cached_image_data if defined?(@photo.cached_image_data) %>
      <!-- ＃ここが重要！！！ -->
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :caption %>
      <%= form.text_field :caption, id: :photo_caption %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>



<%= link_to 'Show', @photo %>
<%= link_to 'Back', photos_path %>
