<!-- <p id="notice"><%#= notice %></p> -->
<%#= link_to "My page", user_path(user_id),class:"nav-link disabled"  %>


<h1>Photos</h1>
<%= link_to 'Add Photo', new_photo_path %>
<table>
  <thead>
    <tr>
      <th>Image data</th>
      <th>User</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image_url %>" class = "card">
        </td>
        <td><%= photo.user_id %></td>
        <td><%= photo.caption %></td>

        <td><%= link_to 'Show', photo_path(photo), class:"pink_btn" %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo), class:"pink_btn" %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } , class:"pink_btn"%></td>
      </tr>
    <% end %>
</tbody>
</table>
