<!-- <p id="notice"><%#= notice %></p> -->
<%#= link_to "My page", user_path(user_id),class:"nav-link disabled"  %>


<h1>Photos</h1>
<%= link_to 'Add Photo', new_photo_path %>
<table>
  <thead>
    <tr>
      <th>Image data</th>
      <th>User</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <div class="wrap">
  <div class="imgBox">
    <img src="http://weblabla.m-pokoj.net/wp-content/uploads/sites/5/2016/07/image01.png">
     <i class="fa fa-heart"></i>
   </div>
 </div>



  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
        <div class="wrap">
        <div class="imgBox">
          <img src="<%= photo.image_url %>" class = "card">
           <i class="fa fa-heart"></i>
         </div>
       </div>
        </td>
        <td><%= photo.user_id %></td>
        <td><%= photo.caption %></td>
        <td> <%= link_to like_photo_path(photo), method: :put do %>
          Upvote
          <%= photo.get_upvotes.size %>
          <%= link_to dislike_photo_path(photo), method: :put do %>
            Downvote
            <%= photo.get_downvotes.size %>
          <% end %>
          <% end %>

        <td><%= link_to 'Show', photo_path(photo), class:"pink_btn" %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo), class:"pink_btn" %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } , class:"pink_btn"%></td>
      </tr>
    <% end %>
</tbody>
</table>
