<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <img src="<%= @photo.image_url %>">
</p>
<p>
  <strong>User:</strong>
  <%= @photo.user.name %>
</p>
<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>
</br>

<h3>Comments</h3>
<% if @photo.comments.any? %>
<ul>
  <% @photo.comments.each do |comment| %>
  <li>
    <!-- <#%userID = current_user.id%> -->
  <%= comment.user.name %>
  <!-- <%#= @user %> -->

  <%= ":" %>
  <%= comment.body %>
  <%= link_to 'x',
  photo_comment_path(@photo,comment),
  method: :delete,
  class:'command',
  data:{confirm: 'Are you sure?'}%>
</li>
<% end %>
</ul>
<% end %>

<%=form_for([@photo, @photo.comments.new]) do |form|%>
<p>
<%= form.text_field :body %>
</p>
<p>
<%= form.submit %>
</p>
<% end %>


<% if user_signed_in? && @photo.user == current_user %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

<% end %>
