<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;"> -->
  <!-- Navbar content -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <img src="/assets/instagram-logo-vector.jpg" alt="" class = "logo">
<div class="line">
      <p>|</p>
</div>

  <a class="navbar-brand" href= "/" >Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Find</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item active">
        <%= link_to "My page", user_path(:user_id),class:"nav-link disabled"  %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag(photos_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to 'Edit Profile', edit_user_registration_path ,class:"square_btn" %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete ,class:"square_btn"  %>
  <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class:"square_btn"  %>
      <%= link_to 'Log in', new_user_session_path, class:"square_btn" %>
      <% end %>
      <%= link_to "photos", photos_path ,class:"square_btn" %>

  </div>
</nav>
